@{
    ViewData["Title"] = "Notebook";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>

<ul>
    @for (int i = 0; i < ((Note[])ViewData["Notes"]).Length; i++)
    {
        <li>@((Note[])ViewData["Notes"])[i].Title</li>
    }
</ul>