@{
    ViewBag.Title = "New";
}
<!DOCTYPE html>

<body>
    <div class="container">
    <h2>New Note</h2>
        <div class="row" style="margin-bottom:10px;">            
            <div class="col-md-2">
                Title of the note:
            </div>           
            <div class="col-md">
                bsafočjsafjla
            </div>
        </div>
    </div>
</body>
